<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Sign Up</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center wrapper">
        <div class="signup-container shadow rounded-3">
            <div class="row">
                <div class="image-container col-6">
                    <img src="/img/signup.jpg" alt="" class="rounded-start">
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <div class="signup d-flex flex-column align-items-center">
                        <h2>SIGN UP</h2>
                        <span class="text-danger"><%= message %> </span>
                        <div class="d-flex flex-column align-items-center data mt-3">
                            <form action="/user/create" method="POST">
                                <input class="form-control mt-3" type="text" name="username" placeholder="Username" required>
                                <input class="form-control mt-3" type="email" name="email" placeholder="E-mail" required>
                                <input class="form-control mt-3" type="text" name="fullname" placeholder="Fullname" required>
                                <input class="form-control mt-3" type="password" name="password" placeholder="Password" required>
                                <input class="form-control mt-3" type="password" name="confirmPassword" placeholder="Confirm Password" required>
                                <button class="btn btn-primary btn-signup mt-3" id="buttonSignUp">Sign Up</button>
                            </form>
                        </div>
                    </div>
                    <div class="login d-flex justify-content-center mt-3 align-items-center">
                        <p>Already have an account? <a href="/login" class="no-underline">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <script src="/js/fetch.js"></script> -->
</body>
</html>