.profile-post{
    margin-top: 70px;
}

.profile-post{
    width: 65%;
}

.image-profile-container img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.image-profile-container {
    width: 300px;
    
}

.profile-container{
    height: 250px;
}

.username-followers{
    width: 400px;
}

.post img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post{
    position: relative;
}

.post .opac{
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
}

.post .opac:hover{
    opacity: 0.5;
}